.Tags {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 6px 12px 6px 0px; */
    height: 35px;
    border-radius: 5px;
    background: var(--Light-Grayish-Cyan-BG);
    border: none;
    cursor: pointer;
    color: var(--Desaturated-Dark-Cyan);
}

.Tags h2 {
    padding: 0px 5px;
}

.Tags:hover {
    background: var(--Desaturated-Dark-Cyan);
    color: white;
}
