* {
    /* Colors */

    /* Primary */

    --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);

    /* Neutral */

    --Light-Grayish-Cyan-BG: hsl(180, 52%, 96%);
    --Light-Grayish-Cyan-Filter-Tablets: hsl(180, 31%, 95%);
    --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
    --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);

    /* Typography */

    --fontFamily: [Spartan](https://fonts.google.com/specimen/Spartan)
    /* - Weights: 500, 700 */
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

a {
    text-decoration: none;
}